{% extends 'blog/base.html' %}
{% block title %}
  Share a post
{% endblock %}
{% block content %}
  {% if sent %}
    <h1>E-mail successfully sent</h1>
    <p>"{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.</p>
  {% else %}
    <h1>Share "{{ post.title }}" by e-mail</h1>
    <form method="post">
        <!-- The form is rendered using Django's form rendering system -->
        <!-- This will automatically generate the necessary HTML for the form fields -->
      {{ form.as_p }}
      <!-- The CSRF token is a security measure to prevent cross-site request forgery attacks -->
      <!-- It is required for any form submission in Django -->
      {% csrf_token %}
      <input type="submit" value="Send e-mail" />
    </form>
  {% endif %}
{% endblock %}
